<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.base">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application android:name=".BaseApplication" >
        <activity
            android:name=".WXEntryActivity"
            android:configChanges="mcc|mnc"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".CommActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <service android:name=".BaseService">
            <intent-filter>
                <action android:name="com.android.bases.ervice"/>
            </intent-filter>
        </service>
        <receiver android:name=".BaseReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
