<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.location" >
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <application>
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService"/>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="2b10b186138bddd950cb18b3a6c1f90b"/>
    </application>
</manifest>
